<div class="editor">
	<form role="form" ng-submit="save()">
		<div class="row">
			<div class="col-md-8">
				<div class="form-group post-meta">
					<div class="favestar" ng-click="toggleFavorite()" ng-class="{'fave': post.fave}"></div>
					<a target="_blank" href="/post/{{post.id}}/preview">
						<slug class="slug" from="post.title"
							to="post.slug">/{{post.slug}}</slug></a>
					<button type="submit" class="btn save btn-primary pull-right">save</button>
					<button class="btn btn-danger pull-right" ng-click="delete()">delete</button>
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						ng-model="post.title">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<textarea class="form-control" rows="10" ng-model="post.content">
					</textarea>
				</div>

				<div class="form-group">
              		<label>labels</label>
                  	<input type="text" class="form-control"
						ng-list ng-model="post.labels">
				</div>
			</div>
			<div class="col-md-4">
				<image-list post-id="post.id" collection="post.images"
					add-image="addImage(file)" rm-image="rmImage(index)">
				</image-list>
			</div>
		</div>
	</form>
</div>
