<div class="image-list" ng-mouseup="dragging.end()">
	<div class="image" ng-repeat="image in collection"
			ng-class="{
				'dragging': dragging.dragging($index)
				,'insert-above': dragging.above($index)
				,'insert-below': dragging.below($index)}"
			ng-mousemove="dragging.dragOver($index, $event)">

		<button type="button" class="close" ng-click="del($index)">&times;</button>
			<div class="grab-area" cancel-selection ng-mousedown="dragging.start($index)">::::</div>

			<img width="100" ng-src="/post/{{postId}}/image/{{image.name}}"></img>
			<div class="form-group">
				<input type="text" placeholder="alt text" ng-model="image.alt">
				<textarea placeholder="caption" ng-model="image.caption"></textarea>
			</div>
		</div>
	</div>
	<div class="image-drop" cancel-selection>
		DROP IMAGES HERE
	</div>
</div>
